<mat-card class="form-card">
    <h2 class="form-title">{{ data.title }}</h2>
    <form [formGroup]="form">
        <div class="form-field">
            @for(field of data.fields; track field.name) {
                @switch (field.type) {
                    <!-- Text Input -->
                    @case ('text') {
                        <mat-form-field appearance="outline">
                            <mat-label>{{ field.label }}</mat-label>
                            <input matInput [formControlName]="field.name" />
                            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                                <mat-error>
                                    {{ getErrorMessage(field.name) }}
                                </mat-error>
                            }
                        </mat-form-field>
                    }
                    <!-- Textarea -->
                    @case ('textarea') {
                        <mat-form-field appearance="outline">
                            <mat-label>{{ field.label }}</mat-label>
                            <textarea matInput [formControlName]="field.name"></textarea>
                            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                                <mat-error>
                                    {{ getErrorMessage(field.name) }}
                                </mat-error>
                            }
                        </mat-form-field>
                    }
                    <!-- Date Picker -->
                    @case ('date') {
                        <mat-form-field appearance="outline">
                            <mat-label>{{ field.label }}</mat-label>
                            <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                                <mat-error>
                                    {{ getErrorMessage(field.name) }}
                                </mat-error>
                            }
                        </mat-form-field>
                    }
                    <!-- Dropdown -->
                    @case ('dropdown') {
                        <mat-form-field appearance="outline">
                            <mat-label>{{ field.label }}</mat-label>
                            <mat-select [formControlName]="field.name">
                                @for(option of field.options; track option) {
                                    <mat-option [value]="option">{{ option }}</mat-option>
                                }
                            </mat-select>
                            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                                <mat-error>
                                    {{ getErrorMessage(field.name) }}
                                </mat-error>
                            }
                        </mat-form-field>
                    }
                    <!-- Multi-select -->
                    @case ('multiselect') {
                        <mat-form-field appearance="outline">
                            <mat-label>{{ field.label }}</mat-label>
                            <mat-select [formControlName]="field.name" multiple>
                                @for(option of field.options; track option) {
                                    <mat-option [value]="option">{{ option }}</mat-option>
                                }
                            </mat-select>
                            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                                <mat-error>
                                    {{ getErrorMessage(field.name) }}
                                </mat-error>
                            }
                        </mat-form-field>
                    }
                    <!-- Checkbox -->
                    @case ('checkbox') {
                        <div class="mb-2">
                            <mat-checkbox color="primary" [formControlName]="field.name">
                                {{ field.label }}
                            </mat-checkbox>
                            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                                <mat-error>
                                    {{ getErrorMessage(field.name) }}
                                </mat-error>
                            }
                        </div>
                    }
                }
            }
        </div>
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">
            Submit
        </button>
    </form>
</mat-card>
